<div class="table-subcontainer">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 books-table">
    <ng-container matColumnDef="cover">
      <th mat-header-cell *matHeaderCellDef> Wishlist Books </th>
      <td mat-cell *matCellDef="let book"> 
        <img [src]="book.cover" class="table-image"> 
      </td>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let book"> {{book.title}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let book"> {{book.author}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let book"> {{book.year}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="genres">
      <th mat-header-cell *matHeaderCellDef> Genres </th>
      <td mat-cell *matCellDef="let book"> {{book.genreString}} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let book"> {{book.price | currency: 'USD'}} </td>
    </ng-container>

    <ng-container matColumnDef="toMainList">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let book"> 
        <button mat-flat-button class="button-wishlist" (click)="onRemoveBookToWishList(book)">
          <mat-icon>remove</mat-icon><span>Remove from WishList</span>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>